<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head th:replace="fragments :: html_header">

</head>
<body>
  <div th:replace="fragments :: menu"></div>
   <div class="container-fluid">
     <div class="row justify-content-center mt-2 mb-3">
        <div class="col-8">
        <div class="row">
           <th:block th:each="doc : ${documentlist}">
	               <div class="col">
		                 <div>
		                    <img th:src="@{/image/document_100px.png}">
		                 </div>
		                 <div>
		                   <a th:href="@{'/download?id=' +${doc.id}}" class="btn btn-warning">[[${doc.name}]]</a>
		                 </div>
		                 <div>
		                    <p>[[${#numbers.formatInteger(doc.size,4,'COMMA')}]] Bytes</p>
		                 </div>
	               </div>
            </th:block>
        </div>
           
        </div>
     </div>
   </div>
  <div th:replace="fragments :: footer"></div>
</body>
</html>